<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "story/css/bootstrap.min.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story/css/styles.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Story 10</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static "story/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "story/js/popper.min.js" %}"></script>
    <script src="{% static "story/js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="main-part">
        {% if user.is_authenticated %}
          <p class="top-item auth-msg">Welcome, {{ user.first_name }}!</p>
          <img src="{{ user.visitor.photo }}" alt="Profile picture" style="height: 200px; width: auto;">
          <p class="mt-2">Your birthday is on: {{ user.visitor.birth_date }}</p>
          <a href="{% url "accountSignout" %}" class="acc-btn"><button class="btn btn-secondary acc-btn" id="logout-btn">Logout</button></a>
        {% else %}
          <h2 class="top-item unauth-msg">It seems that I haven't met you yet.</h2>
          <a href="{% url "accountLogin" %}" class="acc-btn"><button class="btn btn-primary acc-btn" id="login-btn">Login</button></a>
          <a href="{% url "accountSignup" %}" class="acc-btn"><button class="btn btn-secondary acc-btn" id="signup-btn">Signup</button></a>
        {% endif %}
      </div>
    </div>
    <script src="{% static "story/js/story-script.js" %}"></script>
  </body>
</html>
