<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "story/css/bootstrap.min.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story/css/styles.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Story 10</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static "story/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "story/js/popper.min.js" %}"></script>
    <script src="{% static "story/js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="main-part">
        <h2>Insert your credentials</h2>
        <form action="{% url "accountLogin" %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="status" class="form-label">Username</label>
            <input type="text" class="form-control text-center" id="username" name="username" maxlength="32" placeholder="johndoe" required>
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Password</label>
            <input type="password" class="form-control text-center" id="password" name="password" maxlength="64" placeholder="Password" required>
          </div>
          {% if not_valid %}
            <div class="alert alert-danger" role="alert">
              <h5>Invalid username or password!</h5>
            </div>
          {% endif %}
          <button type="submit" class="btn btn-primary login-btn" id="login-submit">Login</button>
        </form>
      </div>
    </div>
    <script src="{% static "story/js/story-script.js" %}"></script>
  </body>
</html>
