<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "story/css/bootstrap.min.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story/css/styles.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Story 10</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static "story/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "story/js/popper.min.js" %}"></script>
    <script src="{% static "story/js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="main-part">
        <h2>Insert your credentials</h2>
        <form action="{% url "accountSignup" %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control text-center" id="name" name="name" maxlength="175" placeholder="John Doe" required>
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Email</label>
            <input type="email" class="form-control text-center" id="email" name="email" maxlength="175" placeholder="johndoe@example.com">
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Username</label>
            <input type="text" class="form-control text-center" id="username" name="username" maxlength="32" placeholder="johndoe" required>
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Password</label>
            <input type="password" class="form-control text-center" id="password1" name="password1" maxlength="64" placeholder="Password" required>
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Password Confirmation</label>
            <input type="password" class="form-control text-center" id="password2" name="password2" maxlength="64" placeholder="Password" required>
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Photo URL</label>
            <input type="url" class="form-control text-center" id="photo" name="photo" required>
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Birth Date</label>
            <input type="date" class="form-control text-center" id="birth_date" name="birth_date">
          </div>
          {% if not_valid %}
            <div class="alert alert-danger" role="alert">
              {% for field in form %}
                {{ field.errors }}
              {% endfor %}
              {% for field in form_extra %}
                {{ field.errors }}
              {% endfor %}
            </div>
          {% endif %}
          <button type="submit" class="btn btn-primary submit-btn" id="signup-submit">Submit</button>
        </form>
      </div>
    </div>
    <script src="{% static "story/js/story-script.js" %}"></script>
  </body>
</html>
