html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
}

.main-part {
  height: 100vh;
}

.top-item {
  margin-top: 30vh;
  margin-bottom: 5vh;
}

.acc-btn {
  margin-left: 1rem;
  margin-right: 1rem;
}

.errorlist li {
  list-style-type: none;
}
